<% content_for :css do %>
  <%= stylesheet_link_tag 'session' %>
<% end %>
<div class="login-wrap">
  <h2>Login</h2>

  <%= form_for @form, url: :session, html: { class: "form" } do |f| %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value.html_safe, class: "alert alert-#{key}") %>
    <% end %>
    <%= f.text_field :login_id, required: true, :placeholder => "ログインID" %>
    <%= f.password_field :password, required: true, :placeholder => "パスワード" %>
    <%= f.submit 'ログイン' %>
    <% # TODO: アカウントを忘れた場合の処理 %>
    <a href="#"> <p>ログイン情報を忘れたら?</p></a>
  <% end %>
</div>
